# -*- coding: utf-8 -*-
"""
Created on Tue May 17 17:51:05 2016

@author: txinto
"""

#### Connection configuration

cte_use_socket = False

if not(cte_use_socket):
    # Serial connection configuration
    import os
    if (os.name == 'nt'):
        cte_serial_port = 'COM4:'
    else:
        cte_serial_port = '/dev/ttyUSB0'
    if (os.name == 'nt'):
        cte_serial_port_loopback = 'COM5:'
    else:
        cte_serial_port_loopback = '/dev/ttyUSB1'

else:
    # TCP connection configuration
    import socket
    cte_socket_ip = socket.gethostname()
    cte_socket_port = 10001

#### Motor configuration

cte_motor_x = 1
cte_motor_y = 2
cte_motor_comp = 3

cte_motor_x_xport = 22
cte_motor_y_xport = 23
cte_motor_comp_xport = 24

# App configuration

cte_verbose = True
cte_fileprefix = "frame"

#### Camera configuration

cte_use_cvcam = False

if cte_use_cvcam:
    cte_camsource = 0
    cte_framePath = "./00_acquired/"

cte_use_photocam = False

if cte_use_photocam:
    #cte_cameractrl_path = "C:\\Program Files (x86)\\digiCamControl\\"
    cte_cameractrl_path = ""
    cte_cameractrl_command = "CameraControlCmd.exe"
    cte_cameractrl_capturecmd = "/capture"
    cte_cameractrl_filenamecmd = "/filename"
    cte_cameractrl_filename_root = "FoV"

cte_use_motor_x = True
cte_use_motor_y = True
cte_use_motor_comp = True
